# Build folders
bin/
obj/

# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs & cache
*.log
*.cache
*.dbmdl

# Test results
TestResult*/
BuildLog.*

# Backup
*.bak
*.backup
*~

# OS-specific
Thumbs.db
Desktop.ini
.DS_Store
